.loading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.group {
    width: 100vw;
    padding: 1vw 5vw;
}

.popular-carousel {
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
    position: relative;
}

.carousel-item {
    position: relative;
}

.popular-carousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
    width: 100%;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.card td:first-child {
    width: 33.33%;
}

.card td:last-child {
    width: 66.66%;
}

.card td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.card img {
    border-radius: 30%;
    object-fit: cover;
}