.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}

.noAppointments {
    text-align: center;
    margin-top: 20px;
}
