.provider-management .provider-loading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.staff-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.provider-title {
    margin: 20px 0;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.provider-delete-button {
    background-color: #f26030;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.provider-delete-button:hover {
    background-color: #e04a28;
}

.provider-update-button {
    background-color: #05cce2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.provider-update-button:hover {
    background-color: #035eb3;
}

.provider-view-button {
    background-color: #95e205;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.provider-view-button:hover {
    background-color: #9b6913;
}

.provider-input-fields .provider-input-flied {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.provider-custom-picture {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 85%;
    height: 400px;
    width: auto;
}

.provider-custom-input {
    width: 800px;
}

.provider-management {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.provider-information,
.service-container,
.staff-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.service-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.staff-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.provider-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.provider-picture-container {
    text-align: center;
}

.provider-input-container {
    width: 60%;
}

.provider-input-field {
    margin-bottom: 15px;
}

.search-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.search-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.search-container Input {
    width: 80%;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container Button {
    padding: 8px 15px;
}

.search-container ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.search-container p {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.2s;
}

.search-container p:hover {
    background-color: #f0f0f0;
}