.detail {
    display: flex;
    padding: 20px;
}

.detail .provider-detail,
.detail .service-detail {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail .provider-detail {
    flex: 1;
    margin-right: 20px;
}

.detail .service-detail {
    flex: 2;
}

.detail .provider-image,
.detail .service-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.detail img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.detail h2 {
    font-size: 24px;
    margin: 0;
}

.detail p {
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.staffs {
    display: flex;
    flex-wrap: wrap;
}

.staffs .staff-detail {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.staffs .staff-detail:hover {
    transform: scale(1.02);
}

.staffs .staff-detail img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.staffs .staff-detail .main-panel {
    border-radius: 8px;
}

.staffs .staff-detail h2 {
    font-size: 18px;
    margin: 0;
}

.staffs .staff-detail p {
    margin-top: 5px;
}

.staffs .staff-detail img {
    cursor: pointer;
}

.staffs .staff-detail:hover {
    border-color: #007BFF;

}

.staffs .staff-detail button {
    background-color: rgb(175, 170, 170);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

.staffs .staff-detail button:hover {
    background-color: #D53939;
}

.staffs .staff-detail button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}