.detail {
    display: flex;
}

.detail .provider-detail {
    background-color: #D1E0F3;
    border-radius: 25px;
    width: 20vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
}

.detail .provider-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail .provider-image img {
    border-radius: 25px;
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.detail .provider-detail h2 {
    padding-left: 1vw;
}

.detail .provider-detail p {
    padding-left: 1vw;
}

.detail .service-detail {
    background-color: #DAEBC7;
    height: 90vh;
    border-radius: 25px;
    width: 75vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 2vh;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
}

.detail .service-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail .service-image img {
    border-radius: 25px;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.detail .service-detail h2 {
    padding-left: 1vw;
}

.detail .service-detail p {
    padding-left: 1vw;
}

